/* Importa uma fonte moderna */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* Estilo geral da página */
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  color: #343f34;
}

/* Centraliza todo o conteúdo */
.container {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  margin: 40px auto;
}

h1 {
  color: #3d4b3d;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 1px; /* Diminui a margem inferior */
}

/* Estilo dos inputs */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
  gap: 20px;
}

.inputBox {
  flex: 1;
  text-align: left;
  position: relative;
}

.labelInput {
  font-size: 14px;
  color: #323b32;
  position: absolute;
  top: -12px;
  left: 0;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #354135;
  font-size: 15px;
  width: 75%;
  padding: 10px 0;
  letter-spacing: 2px;
  border-bottom: 1px solid #2a2e2a;
}

.placeholder {
  font-size: 7px;
}

/* Botão Play */
#submit {
  background-color: #455545;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.062);
  margin-top: 80px;
  margin-left: auto;
  margin-right: 1px;
}

/* Ícone Play dentro do botão */
.play-icon {
  width: 100%;
}

#submit:hover {
  background-color: #98b998;
}

#submit:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 
.restart-icon {
  background-color: #455545;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.062);
  margin-top: 80px;
  margin-right: auto;
} */

.radioGroup {
  width: auto;
  display: flex;
  justify-content: space-between; /* Adicionando espaço entre os botões */
  text-overflow: ellipsis;
}

.radioGroup label {
  background-color: #98b998;
  color: rgb(53, 52, 52);
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  margin-right: 10px; /* Espaçamento entre os botões */
}

.radioGroup label:last-child {
  margin-right: 0;
}

.radioGroup label:hover {
  background-color: rgb(60, 92, 65);
  color: rgb(255, 255, 255);
}

.radioGroup input[type="radio"] {
  display: none;
}

.radioGroup input[type="radio"]:checked + label {
  background-color: #435243;
  color: white;
}

.hidden {
  display: none;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(15, 2fr);
  grid-template-rows: repeat(15, 2fr);
  gap: 2px;
  width: 300px;
  height: 300px;
}

.row {
  display: contents;
}

.cell {
  width: 45px;
  height: 30px;
  border: 1px solid #ccc;
  background: #475347;
}
.cell.robot {
  background-color: red;
}

.cell.obstacle {
  background-color: black;
}

.path {
  background-color: rgb(186, 21, 227);
  transition: background-color 0.3s ease;
}
