<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarAuto</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/principal.css') }}"
    />
    <link rel="icon" href="{{ url_for ('static', filename='img/icon.png') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Carro Automático<br /><br /></h1>

      <form id="form" action="/" method="POST">
        <h1 class="title">Grid Sem Peso</h1>
        <div class="radioGroup">
          <input
            type="radio"
            id="amplitude"
            name="metodo"
            value="amplitude"
            required
          />
          <label for="amplitude">Amplitude</label>

          <input
            type="radio"
            id="aprofundamentoiterativo"
            name="metodo"
            value="aprof_iterativo"
            required
          />
          <label for="aprofundamentoiterativo">Aprofundamento Iterativo</label>

          <input
            type="radio"
            id="bidirecional"
            name="metodo"
            value="bidirecional"
            required
          />
          <label for="bidirecional">Busca Bidirecional</label>

          <input
            type="radio"
            id="profundidade"
            name="metodo"
            value="profundidade"
            required
          />
          <label for="profundidade">Profundidade</label>

          <br />
          <br />
          <input
            type="radio"
            id="profundidade_limitada"
            name="metodo"
            value="profundidade_limitada"
            required
          />
          <label for="profundidade_limitada">Profundidade Limitada</label>
          <br />
          <br />
        </div>
        <br />
        <br />
        <h1 class="title">Grid Com Peso</h1>

        <div class="radioGroup">
          <input
            type="radio"
            id="aestrela"
            name="metodo"
            value="aestrela"
            required
          />
          <label for="aestrela">A Estrela</label>

          <input
            type="radio"
            id="aiaestrela"
            name="metodo"
            value="aiaestrela"
            required
          />
          <label for="aiaestrela">AIA Estrela</label>
          <input
            type="radio"
            id="custouniforme"
            name="metodo"
            value="custouniforme"
            required
          />
          <label for="custouniforme">Custo Uniforme</label>

          <input
            type="radio"
            id="greedy"
            name="metodo"
            value="greedy"
            required
          />
          <label for="greedy">Greedy</label>
        </div>
        <br /><br />

        <div class="input-container">
          <div class="inputBox hidden" id="inicioBox">
            <input
              type="text"
              id="inicio"
              name="inicio"
              class="inputUser"
              placeholder="Digite (Ex. (1,2))"
              onfocus="removerPlaceholder()"
              onblur="adicionarPlaceholder()"
              required
            />
            <label for="inicio" class="labelInput">Início:</label>
          </div>

          <div class="inputBox hidden" id="objetivoBox">
            <input
              type="text"
              id="objetivo"
              name="objetivo"
              class="inputUser"
              placeholder="Digite (Ex. (7,6))"
              onfocus="removerPlaceholder()"
              onblur="adicionarPlaceholder()"
              required
            />
            <label for="objetivo" class="labelInput">Objetivo:</label>
          </div>

          <div class="inputBox hidden" id="limite">
            <input
              type="number"
              id="limite"
              name="limite"
              class="inputUser"
              placeholder="Digite (Ex. 5)"
              onfocus="removerPlaceholder()"
              onblur="adicionarPlaceholder()"
            />
            <label for="limite" class="labelInput">Limite:</label>
          </div>
        </div>
        <div class="rectangle">
          <div class="grid">
            {% for i in range(mapa|length) %}
            <div class="row">
              {% for j in range(mapa[i]|length) %}
              <div
                class="cell {% if mapa[i][j] == 9 %}obstacle{% endif %} {%if [i,j] in caminho %} path {%endif%} {%if [i,j]== inicio %} start {%endif%} {%if [i,j]== objetivo %} end {%endif%}"
                data-row="{{ i }}"
                data-col="{{ j }}"
              ></div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        <br />
        <div class="legenda">
          <span class="quad start"></span>
          <span>Início: {{ inicio if inicio is defined else 'N/D' }}</span>
          <span class="quad end"></span>
          <span
            >Objetivo: {{ objetivo if objetivo is defined else 'N/D' }}</span
          >
          <span class="quad obstacle"></span>
          <span>Obstaculos</span>
          <br />
          <span class="quad path"></span>
          <span>Caminho: {{ caminho if caminho is defined else 'N/D' }}</span>
        </div>
        <button type="submit" id="submit">
          <img src="static/img/botao.png" alt="Play" class="play-icon" />
        </button>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
        {% if mensagem %}
        <script>
          alert("{{ mensagem }}");
        </script>
        {% endif %} {% if valor %}
        <script>
          alert("{{ valor }}");
        </script>
        {% endif %}
      </form>
    </div>
  </body>
</html>
