<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/principal.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Grid<br /><br /></h1>

      <!-- Campos de entrada -->
      <form action="/" method="POST">
        <div class="radioGroup">
          <input
            type="radio"
            id="amplitude"
            name="metodo"
            value="amplitude"
            required
          />
          <label for="amplitude">Amplitude</label>

          <input
            type="radio"
            id="aprofundamentoiterativo"
            name="metodo"
            value="aprof_iterativo"
            required
          />
          <label for="aprofundamentoiterativo">Aprofundamento Iterativo</label>

          <input
            type="radio"
            id="bidirecional"
            name="metodo"
            value="bidirecional"
            required
          />
          <label for="bidirecional">Busca Bidirecional</label>

          <input
            type="radio"
            id="profundidade"
            name="metodo"
            value="profundidade"
            required
          />
          <label for="profundidade">Profundidade</label>

          <input
            type="radio"
            id="profundidade_limitada"
            name="metodo"
            value="profundidade_limitada"
            required
          />
          <label for="profundidade_limitada">Profundidade Limitada</label>
        </div>
        <br /><br />

        <div class="input-container">
          <div class="inputBox hidden" id="inicioBox">
            <input
              type="text"
              id="inicio"
              name="inicio"
              class="inputUser"
              placeholder="Digite (Ex. (1,2))"
              onfocus="removerPlaceholder()"
              onblur="adicionarPlaceholder()"
              required
            />
            <label for="inicio" class="labelInput">Início:</label>
          </div>

          <div class="inputBox hidden" id="objetivoBox">
            <input
              type="text"
              id="objetivo"
              name="objetivo"
              class="inputUser"
              placeholder="Digite (Ex. (1,2))"
              onfocus="removerPlaceholder()"
              onblur="adicionarPlaceholder()"
              required
            />
            <label for="objetivo" class="labelInput">Objetivo:</label>
          </div>

          <div class="inputBox hidden" id="limite">
            <input
              type="number"
              id="limite"
              name="limite"
              class="inputUser"
              placeholder="Digite (Ex. 5)"
              onfocus="removerPlaceholder()"
              onblur="adicionarPlaceholder()"
            />
            <label for="limite" class="labelInput">Limite:</label>
          </div>
        </div>
        <script>
          function atualizarCampos() {
            const metodoSelecionado = document.querySelector(
              'input[name="metodo"]:checked'
            );

            if (!metodoSelecionado) {
              return;
            }

            const valorSelecionado = metodoSelecionado.value;

            const inicioBox = document.getElementById("inicioBox");
            const objetivoBox = document.getElementById("objetivoBox");
            const limite = document.getElementById("limite");

            if (
              valorSelecionado === "amplitude" ||
              valorSelecionado === "bidirecional" ||
              valorSelecionado === "profundidade"
            ) {
              inicioBox.classList.remove("hidden");
              objetivoBox.classList.remove("hidden");
              limite.classList.add("hidden");
            } else {
              inicioBox.classList.remove("hidden");
              objetivoBox.classList.remove("hidden");
              limite.classList.remove("hidden");
            }
          }

          document.querySelectorAll('input[name="metodo"]').forEach((radio) => {
            radio.addEventListener("change", atualizarCampos);
          });

          atualizarCampos();
        </script>

        <div class="rectangle">
          <div class="grid">
            {% for i in range(mapa|length) %}
            <div class="row">
              {% for j in range(mapa[i]|length) %}
              <div
                class="cell {% if mapa[i][j] == 9 %}obstacle{% endif %} {%if [i,j] in caminho %} path {%endif%}"
                data-row="{{ i }}"
                data-col="{{ j }}"
              ></div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Botão Play -->
        <button type="submit" id="submit">
          <img src="static/img/botao.png" alt="Play" class="play-icon" />
        </button>

        <!-- <button type="submit" id="restart">
          <img src="static/img/reset.png" alt="restart" class="restart-icon" />
        </button> -->
      </form>
    </div>
  </body>
</html>
